name: Release

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: "Get the code"
        uses: actions/checkout@v2
      - name: "Get tag version"
        run: echo "TAG_VERSION=${GITHUB_REF#refs/tags/v*}" >> $GITHUB_ENV
      - name: "Print tag version"
        run: echo ${{ env.TAG_VERSION }}
      - name: "Set up QEMU"
        uses: docker/setup-qemu-action@v1
      - name: "Set up Docker Buildx"
        uses: docker/setup-buildx-action@v1
      - name: "Log in to DockerHub"
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: "Build Faabric container"
        uses: docker/build-push-action@v2
        with:
          push: true
          file: docker/faabric.dockerfile
          context: .
          tags: faasm/faabric:${{ env.TAG_VERSION }}
          build-args: FAABRIC_VERSION=${{ env.TAG_VERSION }}
      - name: "Build native MPI container"
        uses: docker/build-push-action@v2
        with:
          push: true
          file: docker/faabric-mpi-native.dockerfile
          context: .
          tags: faasm/faabric-mpi-native:${{ env.TAG_VERSION }}
          build-args: FAABRIC_VERSION=${{ env.TAG_VERSION }}
