name: Tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
    types: [opened, synchronize, reopened, ready_for_review]

defaults:
  run:
    shell: bash

jobs:
  # Cancel previous running actions for the same PR
  cancel_previous:
    runs-on: ubuntu-latest
    steps:
      - name: Cancel Workflow Action
        uses: styfle/cancel-workflow-action@0.11.0

  conan-cache:
    if: github.event.pull_request.draft == false
    runs-on: ubuntu-latest
    container:
      image: faasm.azurecr.io/faabric:0.4.3
      credentials:
        username: ${{ secrets.ACR_SERVICE_PRINCIPAL_ID }}
        password: ${{ secrets.ACR_SERVICE_PRINCIPAL_PASSWORD }}
    steps:
      - uses: faasm/conan-cache-action@v1

  docs:
    if: github.event.pull_request.draft == false
    runs-on: ubuntu-latest
    container:
      image: faasm.azurecr.io/faabric:0.4.3
      credentials:
        username: ${{ secrets.ACR_SERVICE_PRINCIPAL_ID }}
        password: ${{ secrets.ACR_SERVICE_PRINCIPAL_PASSWORD }}
    steps:
      - name: "Check out code"
        uses: actions/checkout@v3
      - name: "Build docs"
        run: ./bin/inv_wrapper.sh docs

  formatting:
    if: github.event.pull_request.draft == false
    runs-on: ubuntu-latest
    container:
      image: faasm.azurecr.io/faabric:0.4.3
      credentials:
        username: ${{ secrets.ACR_SERVICE_PRINCIPAL_ID }}
        password: ${{ secrets.ACR_SERVICE_PRINCIPAL_PASSWORD }}
    steps:
      - name: "Check out code"
        uses: actions/checkout@v3
        # We need to set the safe git directory as formatting relies on git-ls
        # See actions/checkout#766
      - name: "Set the GH workspace as a safe git directory"
        run: git config --global --add safe.directory "$GITHUB_WORKSPACE"
      - name: "Code formatting checks"
        run: ./bin/inv_wrapper.sh format-code --check

  tests:
    if: github.event.pull_request.draft == false
    needs: [conan-cache]
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        sanitiser: [None, Address, Thread, Undefined]
    env:
      HOST_TYPE: ci
      PLANNER_HOST: planner
      PLANNER_PORT: 8080
      REDIS_QUEUE_HOST: redis
      REDIS_STATE_HOST: redis
      ASAN_OPTIONS: "verbosity=1:halt_on_error=1"
      TSAN_OPTIONS: "verbosity=1 halt_on_error=1 suppressions=./thread-sanitizer-ignorelist.txt history_size=4"
      UBSAN_OPTIONS: "print_stacktrace=1:halt_on_error=1"
        #     container:
        #       image: faasm.azurecr.io/faabric:0.4.3
        #       credentials:
        #         username: ${{ secrets.ACR_SERVICE_PRINCIPAL_ID }}
        #         password: ${{ secrets.ACR_SERVICE_PRINCIPAL_PASSWORD }}
        #       options: --privileged
        #       volumes:
        #         - build_volume:/build-gha/bin/
    # TODO: somehow manage to use the `planner_server` binary build in the
    # tests below. Best idea is to share the `./build/static` directory, and
    # add an entrypoint in planner that waits for such a binary to exist
    #     services:
    #       planner:
    #         image: faasm.azurecr.io/planner:0.4.3
    #         env:
    #           PLANNER_HOST_KEEPALIVE_TIMEOUT: 2
    #         volumes:
    #           - build_volume:/build-gha/bin/
    #         options: --entrypoint "/code/faabric/bin/planner_entrypoint.sh /build-gha/bin"
    #       redis:
    #         image: redis
    steps:
      - name: "Install Conan"
        run: pip install conan
      - uses: faasm/conan-cache-action@v1
      - name: "Start compose"
        run: docker compose up -d cli
      - name: "Wait for python venv to be initialised"
        run: ./bin/wait_for_venv.sh
      - name: "Run cmake for tests"
        run: |
          docker compose exec cli bash -c \
            './bin/inv_wrapper.sh dev.cmake --clean --build=Debug --sanitiser ${{ matrix.sanitiser }}'
      - name: "Build planner binary"
        run: |
          docker compose exec cli bash -c \
            './bin/inv_wrapper.sh dev.cc planner_server'
      - name: "Build tests"
        run: |
          docker compose exec cli bash -c \
            './bin/inv_wrapper.sh dev.cc faabric_tests'
      - name: "Run tests"
        run: |
          docker compose exec cli bash -c \
            '/build/faabric/static/bin/faabric_tests'
      - name: "Print planner logs"
        if: always()
        run: docker compose logs planner

  dist-tests:
    if: github.event.pull_request.draft == false
    needs: [conan-cache]
    runs-on: ubuntu-latest
    env:
      CONAN_CACHE_MOUNT_SOURCE: ~/.conan/
    steps:
      - name: "Log in to ACR"
        uses: docker/login-action@v2
        with:
          registry: faasm.azurecr.io
          username: ${{ secrets.ACR_SERVICE_PRINCIPAL_ID }}
          password: ${{ secrets.ACR_SERVICE_PRINCIPAL_PASSWORD }}
      # --- Code update ---
      - name: "Check out code"
        uses: actions/checkout@v3
      - name: "Conan cache"
        uses: faasm/conan-cache-action@v1
      - name: "Build distributed tests"
        run: ./dist-test/build.sh
      - name: "Run the distributed tests"
        run: ./dist-test/run.sh

  examples:
    if: github.event.pull_request.draft == false
    needs: [conan-cache]
    runs-on: ubuntu-latest
    env:
      HOST_TYPE: ci
      REDIS_QUEUE_HOST: redis
      REDIS_STATE_HOST: redis
    container:
      image: faasm.azurecr.io/faabric:0.4.3
      credentials:
        username: ${{ secrets.ACR_SERVICE_PRINCIPAL_ID }}
        password: ${{ secrets.ACR_SERVICE_PRINCIPAL_PASSWORD }}
    services:
      redis:
        image: redis
    steps:
      - uses: faasm/conan-cache-action@v1
        with:
          build-type: "release"
      - name: "Run cmake shared"
        run: ./bin/inv_wrapper.sh dev.cmake --clean --shared --build=Release
      - name: "Build Faabric shared library"
        run: ./bin/inv_wrapper.sh dev.cc faabric --shared
      - name: "Install Faabric shared library"
        run: ./bin/inv_wrapper.sh dev.install faabric --shared
      - name: "Build examples"
        run: ./bin/inv_wrapper.sh examples
      - name: "Run example to check"
        run: ./bin/inv_wrapper.sh examples.execute check
